<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/smart_home"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:usesCleartextTraffic="true"
        android:theme="@style/Theme.MobileProgramming"
        tools:targetApi="31">
        <activity
            android:name=".view.SwitchPreference"
            android:exported="false" />
        <activity
            android:name=".view.AddDeviceActivity"
            android:exported="false" />
        <activity
            android:name=".view.ListDevice"
            android:exported="false" />
        <activity
            android:name=".view.Mode"
            android:exported="false" />
        <activity
            android:name=".view.Mode2"
            android:exported="false" />
        <activity
            android:name=".view.Mode3"
            android:exported="false" />
        <activity
            android:name=".view.Mode4"
            android:exported="false" />
        <activity
            android:name=".view.Mode5"
            android:exported="false" />
        <activity
            android:name=".view.MainActivity"
            android:exported="false" />
        <activity
            android:name=".view.LoginActivity"
            android:exported="false">

            <!-- <intent-filter> -->
            <!-- <action android:name="android.intent.action.MAIN" /> -->


            <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
            <!-- </intent-filter> -->
        </activity>
        <activity
            android:name=".view.SignupActivity"
            android:exported="false" />
        <activity
            android:name=".view.EditProfileActivity"
            android:exported="false" />
        <activity
            android:name=".view.ProfileActivity"
            android:exported="false" />
        <activity
            android:name=".view.HelpActivity"
            android:exported="false" />
        <activity
            android:name=".view.AboutActivity"
            android:exported="false" />
        <activity
            android:name=".view.SettingsActivity"
            android:exported="false" />
        <activity
            android:name=".view.WelcomeActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>